<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" ng-app="messagingAdminApp"
      ng-controller="adminController">
<th:block th:replace="fragment/Admin/top">

</th:block>


<div class="container">
    <h2>All Users</h2>
    <table class="table">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Last Log In Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.userId}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td>{{user.lastLoggedIn}}</td>
            <td ng-click="deleteUser(user)"><a href="#" class="btn btn-primary">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>


<th:block th:replace="fragment/Admin/bottom">

</th:block>
