<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" ng-app="messagingApp"
      ng-controller="userController">
<th:block th:replace="fragment/User/top">

</th:block>

<div class="col-xs-7 col-sm-3 col-md-3 sidebar sidebar-left sidebar-animate sidebar-md-show">
    <ul class="nav navbar-stacked">
        <li ng-repeat="user in users" ng-click="displayMessages(user)" ng-init="displayFirstMessage(user)">
            <a href="#">{{user.firstName}} {{user.lastName}}</a>
        </li>
    </ul>
</div>

<div id="page-content-wrapper">
    <div class="container-fluid">

        <!-- Add Team Modal -->
        <div id="createTeamModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form th:action="@{user/team/create}" th:method="PUT" enctype="multipart/form-data">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Create Team</h4>
                        </div>
                        <div class="modal-body">
                            <label class="control-label">Enter Team Name</label>
                            <input type="text" class="form-control" id="teamName" name="teamName">
                            <label class="control-label">Enter Team Description</label>
                            <input type="text" class="form-control" id="teamDescription" name="teamDescription">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">Create Team:</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end Add Team Modal -->

        <!-- Add Invite Modal -->
        <div id="invitePersonModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form th:action="@{user/team/addUser}" th:method="PUT" enctype="multipart/form-data">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add User To Team</h4>
                        </div>
                        <div class="modal-body">

                            <label class="control-label">Enter User Name:</label>
                            <select class="form-control" id="teamToAddTo">
                                <option th:each="team : ${teams}" th:text="${team.getTeamName()}"
                                        th:value="${team.getTeamName()}">
                                </option>
                            </select>
                            <label class="control-label">Enter User Name:</label>
                            <input type="text" class="form-control" id="input-userName" name="input-userName">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">Invite!</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end Add Invite Modal -->


        <!-- Add Invite Modal -->
        <div id="inviteIndividualModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form>
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Invite Individual To Chat</h4>
                        </div>
                        <div class="modal-body">
                            <label class="control-label">Enter User Name:</label>
                            <input type="text" class="form-control" id="input-individual" name="input-individual">
                            <label class="control-label">Enter Message:</label>
                            <input type="text" class="form-control" id="message" name="message">
                        </div>
                        <div class="modal-footer">
                            <button id="sendIndvidualInvite" type="submit" class="btn btn-default">Invite!</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end Add Invite Modal -->


        <!-- Add Invite Modal -->
        <div id="sendIndividualMessage" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form th:action="@{user/message/individual-message/insert}" th:method="PUT"
                      enctype="multipart/form-data">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add User To Team</h4>
                        </div>
                        <div class="modal-body">
                            <label class="control-label">Enter To User Id:</label>
                            <input type="text" class="form-control" id="toUserId" name="toUserId">
                            <label class="control-label">Enter Message:</label>
                            <input type="text" class="form-control" id="message" name="message">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">Send!</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end Add Invite Modal -->

        <!-- Accept Invitation Modal-->
        <div id="invitationModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form>
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add User To Team</h4>
                        </div>
                        <div class="modal-body">
                            {{currentInvite.username}} wants to chat with you. His message:
                            {{currentInvite.message}}

                            <input id="currentInviteFromId" style="display: none" type="text"
                                   ng-value="currentInvite.fromUserId">
                            <input id="currentInviteId" style="display: none" type="text"
                                   ng-value="currentInvite.userInvitationId">
                        </div>
                        <div class="modal-footer">
                            <button id="acceptInvitation" type="submit" class="btn btn-default">Accept Invitation!
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end Accept Invitation Modal-->


        <div class="row">

            <!-- Messages column -->
            <div class="col-md-6 col-md-offset-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="page-header">
                            <h1>Name
                                <small>Messages</small>
                            </h1>
                        </div>
                    </div>
                </div>

                <!-- Messages exchanged between two users -->
                <div class="row">
                    <div class="col-md-6">
                        <form th:action="@{/user/message/individual-message/insert}" th:method="POST"
                              class="form-horizontal"
                              enctype="multipart/form-data">
                            <label class="control-label">Enter Message:</label>
                            <input style="display: none" ng-value="currentUserId" type="text" id="toUserId"
                                   name="toUserId">
                            <div class="input-group">
                                <input ng-model="currentMessage" type="text" class="form-control" id="message"
                                       name="message">
                        <span class="input-group-btn"><button type="submit" class="btn btn-default">Send! To
                            {{currentName}}
                        </button></span>
                            </div>

                            <div class="text-center"><a ng-click="showFileUpload = !showFileUpload">Add file</a>
                                <input ng-show="showFileUpload" type="file" name="fileUpload" id="fileUpload">
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Send message -->
                <div class="row" ng-repeat="message in messages">
                    <div ng-if="nameStartsWith(currentName, message.fromFirstName) == false" class="col-md-12 ">
                        <div class="page-header message-header">
                            <h1>{{message.fromFirstName}}
                                <small>{{message.prettyTime}}</small>
                            </h1>
                        </div>
                        <!--To: {{message.toFirstName}}-->
                        <!--Timestamp: {{message.timeOfMessage}}-->
                        {{message.message}}
                        <div ng-if="message.fileName != 'null'">Attached Files: <a
                                ng-attr-href="/user/download/file/?fileName={{message.fileName}}">{{message.fileName}}</a>
                        </div>
                    </div>


                    <div ng-if="nameStartsWith(currentName, message.fromFirstName) == true" class="col-md-12 col-md-offset-6">
                        <div class="page-header message-header">
                            <h1>{{message.fromFirstName}}
                                <small>{{message.prettyTime}}</small>
                            </h1>
                        </div>
                        <!--To: {{message.toFirstName}}-->
                        <!--Timestamp: {{message.timeOfMessage}}-->
                        {{message.message}}
                        <div ng-if="message.fileName != 'null'">Attached Files: <a
                                ng-attr-href="/user/download/file/?fileName={{message.fileName}}">{{message.fileName}}</a>
                        </div>
                    </div>




                </div>
            </div>
            <!-- end Messages column -->

        </div>
    </div>
</div>

<th:block th:replace="fragment/User/bottom">

</th:block>
