<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" ng-app="messagingApp"
      ng-controller="userController">
<th:block th:replace="fragment/User/top">
</th:block>

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">

            <!-- Include modals -->
            <th:block th:replace="fragment/User/modals"></th:block>


            <!-- Messages column -->
            <div class="row">

                <!-- Div containing individual messages -->
                <div ng-if="typemsgselected == 'Individual'">
                    <div class="row message-row" ng-repeat="message in messages">
                        <!-- Applies the offset class and sender-message class in case that the message is not from the current logged in user -->
                        <div class="message col-md-6"
                             ng-class="nameStartsWith(currentName, message.fromFirstName) ? 'col-md-offset-6 sender' : 'receiver'">
                            <h4>
                                <span ng-bind="nameStartsWith(currentName, message.fromFirstName) ? message.fromFirstName : 'Me'"></span>
                                <small><span ng-bind="message.prettyTime"></span></small>
                            </h4>
                            <div ng-bind="message.message"></div>
                            <div ng-if="message.fileName != 'null'">Attached Files: <a
                                    ng-attr-href="/user/download/file/?fileName={{message.fileName}}"
                                    ng-bind="message.fileName"></a>
                            </div>
                        </div>
                    </div> <!-- end message repeat -->
                </div>
                <!-- end of div containing individual messages -->

                <!-- Div containing team messages -->
                <div ng-if="typemsgselected == 'Team'">
                    <div id="teamMsgs" class="row message-row" ng-repeat="message in teammessages">
                        <!-- Applies the offset class and sender-message class in case that the message is not from the current logged in user -->
                        <div class="message col-md-6"
                             ng-class="nameStartsWith(loggedInUserInfo.firstName, message.fromFirstName) ? 'receiver' : 'col-md-offset-6 sender'">
                            <h4>
                                <span ng-bind="nameStartsWith(loggedInUserInfo.firstName, message.fromFirstName) ? 'Me' : message.fromFirstName"></span>
                            </h4>
                            <div ng-bind="message.message"></div>
                            <div ng-if="message.fileName != 'null'">Attached Files: <a
                                    ng-attr-href="/user/download/file/?fileName={{message.fileName}}"
                                    ng-bind="message.fileName"></a>
                            </div>
                        </div>
                    </div> <!-- end message repeat -->
                </div>
                <!-- end of div containing team messages -->
            </div> <!-- end row -->

            <!-- row for sending messages to an individual -->
            <div class="row" ng-if="typemsgselected == 'Individual'">
                <hr>
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Write a reply</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-inline" id='sendIndividualMessageForm'>
                                <div class="form-group">
                                    <input ng-value="currentUserId" type="text"
                                           id="itoUserId"
                                           name="toUserId">
                                        <textarea class="form-control not-resizable" rows="1" cols="60"
                                                  ng-model="message.ind"
                                                  id="imessage"
                                                  name="message"></textarea>
                                </div>

                                <div class="form-group">
                                    <label class="btn btn-primary" for="fileUpload">
                                        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                        <input type="file" name="fileUpload" id="fileUpload">
                                    </label>
                                </div>

                                <div class="form-group">
                                    <button type="button" class="btn btn-success" ng-click="sendIndMessage()"
                                            id='sendIndMsgButton'
                                            type="submit">
                                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> <!-- end row for sending message to an individual -->

            <!-- row for sending messages to a team -->
            <div class="row" ng-if="teams.length > 0 && typemsgselected == 'Team'">
                <hr>

                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Write a reply</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-inline" id='teamMessageForm'>
                                <div class="form-group">
                                    <input id="ttoTeamId" ng-value="currentTeam.teamId"
                                           type="text"
                                           name="toTeamId">
                                        <textarea class="form-control not-resizable" rows="1" cols="60"
                                                  ng-model="currentMessage" id="tmessage"
                                                  name="message"></textarea>
                                </div>

                                <div class="form-group">
                                    <label class="btn btn-primary" for="teamFileUpload">
                                        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                        <input type="file" name="teamFileUpload" id="teamFileUpload">
                                    </label>
                                </div>

                                <div class="form-group">
                                    <button type="button" class="btn btn-success"
                                            ng-click="sendTeamMessageFunc()"
                                            id='teamMsgButton'
                                            type="submit">
                                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> <!-- end row for sending message to a team -->
        </div> <!--/.col-xs-12.col-sm-9-->

        <!--Sidebar-->
        <th:block th:replace="fragment/User/sidebar"></th:block>

    </div> <!--/.row row-offcanvas row-offcanvas-right-->
</div> <!-- /.container -->

<th:block th:replace="fragment/User/bottom">

</th:block>
