<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" ng-app="messagingApp"
      ng-controller="userController">
<th:block th:replace="fragment/User/top">
</th:block>

<!-- Sidebar -->
<div class="col-xs-7 col-sm-3 col-md-3 sidebar sidebar-left sidebar-animate sidebar-md-show">
    <ul class="nav navbar-stacked">
        <select class="form-control" ng-model="typemsg" ng-init="typemsg=typemessages[0]"
                ng-options="t as t.name for t in typemessages"
                ng-change="switchTypeMessage(typemsg)">
        </select>

        <div ng-if="typemsgselected == 'Individual'">
            <li ng-repeat="user in users" ng-click="displayMessages(user)" ng-init="displayFirstMessage(user)">
                <a href="#">{{user.firstName}} {{user.lastName}}</a>
            </li>
        </div>

        <div ng-if="typemsgselected == 'Team'">
            <li ng-repeat="team in teams" ng-click="getTeamMessages(team)" ng-init="getTeamMessages(team)">
                <a href="#">{{team.teamName}}</a>
            </li>
        </div>
    </ul>
</div>
<!-- end of sidebar -->

<div id="page-content-wrapper">
    <div class="container-fluid">

        <!-- Enter Search Complete Modal -->
        <div id="searchModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Invite {{searchBarAtTopUsername}}</h4>
                    </div>
                    <div class="modal-body">
                        <label class="control-label">Invite Type</label>
                        <select class="form-control"
                                ng-init="option = options[0]"
                                ng-model="option"
                                ng-options="option as option.label for option in options"
                                ng-change="updateTeamSelect(option)">
                        </select>


                        <label ng-if="option.label == 'Team'" class="control-label">Select Team</label>
                        <select class="form-control"
                                ng-if="option.label == 'Team' && teamSelects != null"
                                ng-init="teamSelect = teamSelects[0]"
                                ng-model="teamSelect"
                                ng-options="teamSelect as teamSelect.teamName for teamSelect in teamSelects"
                                id="teamSelectedId">
                        </select>

                        <label class="control-label">Enter Invite Message:</label>
                        <input ng-model="modalMessageInvite" type="text" class="form-control" id="modelMessge" name="modelMessge">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" ng-click="sendSearchInvite()">Invite</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Create Team Modal -->
        <div id="createTeamModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form th:action="@{user/team/create}" th:method="PUT" enctype="multipart/form-data">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Create Team</h4>
                        </div>
                        <div class="modal-body">
                            <label class="control-label">Enter Team Name</label>
                            <input type="text" class="form-control" id="teamName" name="teamName">
                            <label class="control-label">Enter Team Description</label>
                            <input type="text" class="form-control" id="teamDescription" name="teamDescription">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">Create Team</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end Add Team Modal -->

        <!-- Add Invite individual Modal -->
        <div id="invitePersonModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form>
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">Invite user To team</h2>
                        </div>
                        <div class="modal-body">

                            <label class="control-label">Enter user name:</label>
                            <select class="form-control" id="teamToAddTo">
                                <option th:each="team : ${teams}" th:text="${team.getTeamName()}"
                                        th:id="${team.teamId}"
                                        th:value="${team.getTeamName()}">
                                </option>
                            </select>
                            <label class="control-label">Enter User Name:</label>
                            <input type="text" class="form-control" id="invitedUserName" name="invitedUserName">
                            <label class="control-label">Enter Message:</label>
                            <input type="text" class="form-control" id="message" name="message">
                        </div>
                        <div class="modal-footer">
                            <button id="sendTeamInvite" type="submit" class="btn btn-default">Invite!</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end Add Invite Modal -->


        <!-- Add Invite Modal -->
        <div id="inviteIndividualModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form>
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Invite Individual To Chat</h4>
                        </div>
                        <div class="modal-body">
                            <label class="control-label">Enter User Name:</label>
                            <input type="text" class="form-control" id="input-individual" name="input-individual">
                            <label class="control-label">Enter Message:</label>
                            <input type="text" class="form-control" id="message" name="message">
                        </div>
                        <div class="modal-footer">
                            <button id="sendIndvidualInvite" type="submit" class="btn btn-default">Invite!</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end Add Invite Modal -->


        <!-- Send individual message Modal -->
        <div id="sendIndividualMessage" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form th:action="@{/user/message/individual-message/insert}" th:method="POST">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Send Individual message</h4>
                        </div>
                        <div class="modal-body">
                            <label class="control-label">Enter To User Id:</label>
                            <input type="text" class="form-control" id="toUserId" name="toUserId">
                            <label class="control-label">Enter Message:</label>
                            <input type="text" class="form-control" id="message" name="message">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">Send!</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end Add Invite Modal -->

        <!-- Accept Invitation Modal-->
        <div id="invitationModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form>
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add User To Team</h4>
                        </div>
                        <div class="modal-body">
                            {{currentInvite.username}} wants to chat with you. His message:
                            {{currentInvite.message}}

                            <input id="currentInviteId" style="display: none" type="text"
                                   ng-value="currentInvite.userInvitationId">
                            <input id="currentInviteFromId" style="display: none" type="text"
                                   ng-value="currentInvite.fromUserId">
                        </div>
                        <div class="modal-footer">
                            <button id="acceptInvitation" type="submit" class="btn btn-default">Accept Invitation!
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end Accept Invitation Modal-->


        <!-- Accept team Invitation Modal-->
        <div id="teamInviteAcceptationModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form>
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add User To Team</h4>
                        </div>
                        <div class="modal-body">
                            {{currentTeamInvite.fromUserName}} wants you to join group {{currentTeamInvite.teamName}}.
                            His message: {{currentTeamInvite.message}}

                            <input id="teamInvitationId" style="display: none" type="text"
                                   ng-value="currentTeamInvite.teamInvitationId">
                        </div>
                        <div class="modal-footer">
                            <button id="acceptTeamInvite" type="submit" class="btn btn-default">Accept</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end Accept Invitation Modal-->


        <!-- Send team message Modal -->
        <div id="sendTeamMessageModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form th:action="@{user/team/message/insert}" th:method="PUT" enctype="multipart/form-data">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Send message to a team</h4>
                        </div>
                        <div class="modal-body">
                            <label class="control-label">Enter To team Id:</label>
                            <input type="text" class="form-control" id="toTeamId" name="toTeamId">
                            <label class="control-label">Enter Message:</label>
                            <input type="text" class="form-control" id="message" name="message">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">Send!</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="row">
            <!-- Messages column -->
            <div class="col-md-6 col-md-offset-2">

                <!-- Div containing individual messages -->
                <div ng-if="typemsgselected == 'Individual'">
                    <div class="row message-row" ng-repeat="message in messages">
                        <!-- Applies the offset class and sender-message class in case that the message is not from the current logged in user -->
                        <div class="message col-md-8"
                             ng-class="nameStartsWith(currentName, message.fromFirstName) ? 'col-md-offset-10 sender' : 'receiver'">
                            <h4>{{message.fromFirstName}}
                                <small>{{message.prettyTime}}</small>
                            </h4>
                            {{message.message}}
                            <div ng-if="message.fileName != 'null'">Attached Files: <a
                                    ng-attr-href="/user/download/file/?fileName={{message.fileName}}">{{message.fileName}}</a>
                            </div>
                        </div>
                    </div> <!-- end message repeat -->

                    <!-- Messages exchanged between two users -->
                    <div class="row send-message-row">
                        <div class="col-md-8 col-md-offset-4">
                            <form id='sendIndividualMessageForm'>
                                <label class="control-label">Enter Message here:</label>
                                <input style='display: none' ng-value="currentUserId" type="text" id="itoUserId"
                                       name="toUserId">
                                <div class="input-group">
                                    <input ng-model="currentMessage" type="text" class="form-control" id="imessage"
                                           name="message">
                                    <span class="input-group-btn"><button id='sendIndMsgButton' type="submit"
                                                                          class="btn btn-default">Send to
                                        {{currentName}}
                                    </button></span>
                                </div>

                                <div class="text-center"><a ng-click="showFileUpload = !showFileUpload">Add file</a>
                                    <input ng-show="showFileUpload" type="file" name="fileUpload" id="fileUpload">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end of div containing individual messages -->

                <!-- Div containing team messages -->
                <div ng-if="typemsgselected == 'Team'">
                    <div id="teamMsgs" class="row message-row" ng-repeat="message in teammessages">
                        <!-- Applies the offset class and sender-message class in case that the message is not from the current logged in user -->
                        <div class="message col-md-8"
                             ng-class="nameStartsWith(currentName, message.fromFirstName) ? 'col-md-offset-10 sender' : 'receiver'">
                            <h4>{{message.fromFirstName}}
                                <small>{{message.prettyTime}}</small>
                            </h4>
                            {{message.message}}
                            <div ng-if="message.fileName != null">Attached Files: <a
                                    ng-attr-href="/user/download/file/?fileName={{message.fileName}}">{{message.fileName}}</a>
                            </div>
                        </div>
                    </div> <!-- end message repeat -->

                    <!--send team message-->
                    <div ng-if="teams.length > 0" class="row send-message-row">
                        <div class="col-md-8 col-md-offset-4">
                            <form id='teamMessageForm'>
                                <label class="control-label">Enter Message:</label>
                                <input style="display: none" id="ttoTeamId" ng-value="currentTeam.teamId" type="text"
                                       name="toTeamId">
                                <div class="input-group">
                                    <input ng-model="currentMessage" type="text" class="form-control" id="tmessage"
                                           name="message">

                        <span class="input-group-btn">
                            <button type="submit" id='teamMsgButton' class="btn btn-default">Send to {{currentTeam.teamName}}</button>
                        </span>
                                </div>

                                <div class="text-center"><a ng-click="showFileUpload = !showFileUpload">Add file</a>
                                    <input ng-show="showFileUpload" type="file" name="fileUpload" id="fileUpload">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end of div containing team messages -->

            </div> <!-- end Messages column -->
        </div> <!-- end row -->

    </div>
</div>

<th:block th:replace="fragment/User/bottom">

</th:block>
