<!-- Sidebar -->
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <ul class="nav navbar-stacked">
        <!-- User must choose between Individual or Team -->
        <select class="form-control" ng-model="typemsg" ng-init="typemsg=typemessages[0]"
                ng-options="t as t.name for t in typemessages"
                ng-change="switchTypeMessage(typemsg)">
        </select>

        <hr class="divider">

        <!-- Display a list of individuals -->
        <div class="list-group" ng-if="typemsgselected == 'Individual'">
            <a href="#" ng-repeat="user in users" ng-click="displayMessages(user)"
               ng-class="(user.userId == currentUserId) ? 'list-group-item active' : 'list-group-item'"
               ng-init="displayFirstMessage(user)">
                <h5>{{user.firstName}} {{user.lastName}} <span class="label label-success" ng-bind="user.username"></span></h5>
            </a>

            <a href="#" class="list-group-item list-group-item-warning" ng-if="users.length == 0">No users found!</a>
        </div>

        <!-- Display a list of teams -->
        <div class="list-group" ng-if="typemsgselected == 'Team'">
            <a href="#" ng-repeat="team in teams" ng-click="getTeamMessages(team)"
               ng-class="(team.teamId == currentTeam.teamId) ? 'list-group-item active' : 'list-group-item'"
               ng-init="getTeamMessages(team)">
                <h5>{{team.teamName}}</h5>
            </a>

            <a href="#" class="list-group-item list-group-item-warning" ng-if="teams.length == 0">No teams found!</a>
        </div>
    </ul>
</div>
<!-- end of sidebar -->